/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  margin: 0 auto;
  padding: 0;
  background: #e5e5e5;
  text-align: center;
}

body, .dialog {
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

/* Make sure the table cells show the right font */
td { font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif; }

.print_only { display: none; }

a {text-decoration: underline; padding: 1px; }
a:link { color: #03c; }
a:visited { color: #03c; }
a:hover { color: #fff; background-color: #000; text-decoration: none; }

a.image:link,
a.image:visited,
a.image:hover {
  border: none;
  background: none;
}

img.file_icon {
  vertical-align: middle;
}

a.toggle.active:link,
a.toggle.active:visited,
a.toggle.active:hover {
  background: #999 !important;
  color: #000 !important;
  text-decoration: none;
  font-weight: normal !important;
}

p.submit a.admin.active:link,
p.submit a.admin.active:visited {
  background: none;
  color: #f00;
}

p.submit a.admin.active:hover {
  background: #f00;
  color: #fff;
}

p { font-size: 14px; margin: 0 0 15px 0; line-height: 1.3em; }

h1 {
  font-size: 32px;
  letter-spacing: normal;
  font-family: helvetica, arial, sans-serif;
  color: #000;
  margin: 5px 0 15px 0;
  padding: 0 0 5px 0;
  position: relative;
}

h1.admin {
  margin-bottom: 2px;
}

h2 { font-size: 18px; margin: 0 0 15px 0; font-family: helvetica; }

a.image:link, a.image:visited, a.image:hover {
  background: none;
  padding: 0;
}

a.image img {
  border: none;
  padding: 0;
  margin: 0;
}

a.admin:link, a.admin:visited {
  color: #f00;
  font-family: verdana;
  font-size: 11px;
  font-weight: normal;
}

table tr.shaded td {
  background-color: #edf3fe;
}


a.admin:hover { color: #fff; background: #f00; }

a.black:link, a.black:visited {
  color: #000;
}

a.black:hover {
  color: #fff;
  background: #000;
}

a.anchor:link, a.anchor:visited, a.anchor:hover {
  color: #fff;
  background: #fff;
  font-size: 0px;
  text-decoration: none;
  padding: 0;
}

a.showing {
  color: black;
  background: #bababa;
  text-decoration: none;
  font-weight: normal;
}

div.flash {
  text-align: left;
  font-weight: bold;
  padding: 5px 8px;
  font-size: 13px;
  color: #fff;
  margin: 0 4px 5px 0;
}

div.notice {
  background: #080;
}

div.alert {
  background: #f00;
}

h4 {
  font-size: 11px;
  margin: 0;
}

h5 {
  font-size: 80%;
  font-style: italic;
  font-family: georgia;
  font-weight: normal;
  text-align: left;
  margin: 0 0 20px 0;
  padding-top: 3px;
  color: #6FC0DE;
  border-bottom: 1px solid #C2DDE7;
}

h5 strong {
  color: #4F9DBA;
}

form {
  margin: 0;
  padding: 0;
}

.red {
  color: #c00;
}

.blue {
  color: #06c;
  }

.green {
  color: #390;
  }

.highlight {
  background-color: #ffc;
}

ins {
  background-color: #cfc;
  text-decoration: none;
}

del {
  color: #999;
}

code, pre {
  font-family: monospace;
  font-size: 12px;
  color: #333;
}

table { border-collapse: collapse; }

  /*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

* html code {
  font-size : 105%;
}

div.submit_form {
  margin-top: 20px;
  padding-top: 8px;
  color: #777;
  font-size: 11px;
  text-align: right;
  border-top: 1px solid black;
}

div.submit_form input {
  font-size: 16px;
}

p.goback {
  color: #666;
  font-size: 12px;
  padding: 0 0 8px 0;
  margin: 3px 0 0 10px;
}

small {
  color: #999;
}