.clearfix{
  zoom:1;
  &:before,
  &:after{
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after{
    clear: both;
  }
}

#connection-alert{
}

.chat-message{
  margin-bottom:10px;
  padding:10px;
  border-bottom:1px dotted #c7c7c7;

  .username{
    font-weight:bold;
  }
}

#message-form{
}

.chat-messages{
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom:20px;
}