.clearfix{
  zoom:1;
  &:before,
  &:after{
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after{
    clear: both;
  }
}

  .fail{
    background:red;
    border: 1px solid red;
  }



.box{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding:10px;
}

.chat-message{
  margin-bottom:10px;
  padding:10px;
  border-bottom:1px dotted #c7c7c7;

  .username{
    font-weight:bold;
    @extend .span1;
  }

  &.text{
  }

  &.paste .data{
    font-family: monospace;
    font-size:12px;
    line-height:14px;
    white-space: pre;
  }

  &.image .data img{
    -webkit-box-shadow: 2px 2px 5px #ccc;
    -moz-box-shadow: 2px 2px 5px #ccc;
    -ms-box-shadow: 2px 2px 5px #ccc;
    box-shadow: 2px 2px 5px #ccc;

    &.failed{
      background:red;
      height:100px;
      width:100px;
    }
  }

  &.command{
    @extend .box;
    padding:0;
    margin:auto;
    background: #eee;
    margin:10px 0;
    border-bottom:0;

    div{
      text-align:center;
      padding:5px;
      font-weight:bold;
      color:#999;
    }
  }
}

#chat{
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom:20px;
}

.error-messages{
  margin-bottom:5px;
}

.hidden{
  display:none;
}