/*-------------------------------------------------
HEADER
-------------------------------------------------*/

div#header {
  margin: 0;
  background: #036;
  padding: 13px 0 0 0;
  text-align: left;
  position: relative;
}

div#wrapper {
  padding: 0 23px 0 30px;
  margin: 0 auto;
}

div#container {
  margin: 13px auto 0 auto;
  text-align: center;
  }

.clear_all {
  padding: 0px;
  margin: 0;
  clear: both;
  font-size: 1px;
  }

.left {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 70%;
  float: left;
  }

.full {
  text-align: left;
}

.right {
  margin: 0px 0 0 0;
  padding: 0;
  text-align: left;
  float: left;
  width: 30%;
  }

#sidebar {
  overflow: hidden;
  text-align: left;
}

/*--------
FOR PROPORTIONAL WIDTH
------*/

.col {
  padding: 0 20px;
  text-align: left;
}

.left .col,
.full .col {
  padding: 10px 30px 20px 20px;
  background: #fff url('right-bg.gif') right repeat-y;
}

.left .col .showhide {
  margin-top: 8px;
}

.full .bottom,
.left .bottom {
  background: url('bottom-bg.gif') top right no-repeat;
  font-size: 8px;
  margin-bottom: 20px;
}

body.lobby .full .bottom {
  margin-bottom: 0;
}

.right .col {
  padding: 0 0 0 9px;
}


/*-------------------------------------------------
SIDEBAR
-------------------------------------------------*/

.right h2 {
  padding: 0 0 1px 0;
  border-bottom: 1px solid #d5d5d5;
  margin: 0 0 2px 0;
  font-size: 80%;
  color: #000;
}


div.col div.faqs h3, div#sidebar div.faqs h3 {
  font-size: 12px;
  color: #000;
  margin: 10px 0 2px 0;
  padding: 0;
  background: transparent;
  border: none;
}

div.col div.faqs h4, div#sidebar div.faqs h4 {
  font-size: 11px;
  color: #333;
  margin: 0 0 5px 0;
  font-weight: normal;
}

div.col div.faqs p, div#sidebar div.faqs p,
div.col div.faqs ul {
  font-size: 11px;
  color: #333;
  margin: 0 0 15px 0;
}

div.col div.faqs ul {
  padding: 0 0 0 25px;
}


/*-------------------------------------------------
MODAL LAYOUT
-------------------------------------------------*/

#ModalContainer {
  border: 10px solid #ccc;
  background: #fff;
  text-align: left;
  width: 650px;
  margin: 20px auto 20px;
}

#ModalContainer div.inner {
  margin: 15px 20px 10px 20px;
}


/*-------------------------------------------------
BASIC FORM
-------------------------------------------------*/

div.basic_form_wrapper {
  padding: 0 0 25px 0;
  position: relative;
}

div.basic_form {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dcdcdc;
  border: 2px solid #ccc;
  margin: 0;
  padding: 10px 20px 10px 10px;
  font-size: 11px;
}

div.white {
  background-color: #fff;
  border: none;
  padding-left: 0;
}

div.basic_form input.expanded,
div.basic_form textarea.expanded {
  width: 95%;
}

div.basic_form input, div.basic_form textarea {
  width: 300px;
  padding: 3px;
}

div.basic_form input.big {
  font-size: 18px;
}

div.basic_form textarea {
  width: 300px;
  font-size: 13px;
  height: 75px;
}

div.basic_form h2 {
  font-size: 12px;
  margin: 0 0 2px 0;
  border-bottom: 0px;
}

div.basic_form h3 {
  font-size: 12px;
  margin: 0 0 2px 0;
  border-bottom: 0px;
}

div.basic_form h3.optional {
  font-weight: normal;
}

div.basic_form h2 span {
  font-family: georgia;
  font-style: italic;
  font-weight: normal;
  color: #666;
  font-size: 90%;
}

div.basic_form h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

div.basic_form p {
  font-size: 12px;
  margin: 0 0 15px 0;
}

div.basic_form p.submit {
  color: #999;
  margin-bottom: 5px;
}

div.basic_form p.submit input {
  width: auto;
  font-size: 14px;
}

div.basic_form p.submit input.primary {
  font-size: 14px;
}

div.faq_form {
  float: right;
  padding-right: 10px;
  width: 200px;
}

div.faq_form h3 {
  font-size: 11px;
  margin: 0 0 2px 0;
}

div.faq_form p {
  font-size: 11px;
}

div.basic_form small {
  color: #333;
  font-size: 10px;
}

div.basic_form input.normal {
  width: auto;
}

div.basic_form div.explanation {
  float: left;
  width: 200px;
  position: relative;
}

div.basic_form div.body {
  margin-left: 235px;
}

div.basic_form div.explanation h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
  background: none;
  color: #000;
}

div.basic_form div.explanation p {
  width: auto;
  margin: 0 0 10px 0;
}


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
* .clearfix {display: block;}
*/* End hide from IE-mac */

/*-------------------------------------------------
COLUMN VIEW
-------------------------------------------------*/

table.columnview {
}

table.columnview td {
  padding: 10px;
  vertical-align: top;
  white-space: nowrap;
}

table.columnview th {
  padding: 0 10px;
  font-size: 11px;
  text-align: left;
  color: #666;
}

table.columnview td {
  padding-top: 0;
  border-left: 5px solid #eee;
}

table.columnview th {
  padding: 3px 0 3px 12px;
  /*border-bottom: 5px solid #ddd;*/
}

table.columnview h3 {
  font-size: 11px;
  font-style: italic;
  font-family: georgia;
  font-weight: normal;
  text-align: left;
  margin: 0 0 5px 0;
  padding: 0;
  color: #666;
  border-bottom: 1px solid #ccc;
}

table.columnview a.any_filter {
  margin-bottom: 10px;
}

table.columnview a {
  position: relative;
  display: block;
  font-size: 12px;
  padding: 1px 2px 0 3px;
}

table.columnview a.nomatch {
  color: #ccc;
  text-decoration: none;
}

table.columnview a.selected {
  color: #fff;
  background: #000;
  text-decoration: none;
}

table.columnview div.month_group,
table.columnview div.person_group {
  margin-bottom: 10px;
}

table.columnview div.transcript_group {
  margin-bottom: 20px;
}

table.columnview div.transcript_group h3 {
  color: #000;
}

table.columnview div.person_group h3,
table.columnview div.month_group h3 {
  margin: 0 0 3px 0;
}

table.columnview div.month_group a span {
  text-decoration: underline;
}

table.columnview div.month_group a {
  position: relative;
}

table.columnview div.month_group a:hover span,
table.columnview div.month_group a.selected span,
table.columnview div.month_group a.nomatch span,
table.columnview div.month_group a {
  text-decoration: none;
}

table.columnview div.month_group a span.weekday {
  font-size: 9px;
  text-decoration: none;
  color: #aaa;
  text-align: left;
  width: 20px;
  position: absolute;
  right: 0;
  top: 4px;
}

table.columnview div.month_group a:hover span.weekday,
table.columnview div.month_group a.selected span.weekday,
table.columnview div.month_group a.nomatch span.weekday {
  color: #fff;
}

table.columnview td div.transcript {
  padding: 0;
  margin: 0 0 10px 0;
}

table.columnview td div.transcript h2 {
  padding: 5px 18px 5px 5px;
  margin: 0;
  font-size: 14px;
  background: #ff9;
}

table.columnview td div.transcript h2 a {
  font-size: 14px;
}

table.columnview td div.transcriptsummary {
  background: #d9fad9;
  margin: 0;
  padding: 5px 5px 3px 8px;
  font-size: 11px;
}

table.columnview td div.transcriptsummary a {
  display: inline;
}

table.columnview td div.transcriptsummary ul {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

/*-------------------------------------------------
SEARCH RESULTS
-------------------------------------------------*/

body.search_results div#search_header {
  /*background: none;
  border: none;
  padding: 10px 0 0 0;
  margin-bottom: 15px;*/
}

body.search_results div#search_header input {
  font-size: 20px;
}

body.search_results h1 {
  /*border-bottom: 1px solid #ccc;*/
  margin-bottom: 5px;
}

body.search_results h1 span {
  font-size: 14px;
  color: #ccc;
}

body.search_results h2 {
  font-size: 18px;
  margin: 0 0 20px 5px;
}

body.search_results span {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}

body.search_results span a {
  padding: 0 2px;
}

table.search_results {
  width: 95%;
  margin-left: 10px;
}

table.search_results th {
  font-size: 11px;
  text-align: left;
  padding: 3px 8px;
  background: #000;
  color: #fff;
  font-weight: bold;
  border-right: 9px solid #fff;
}

table.search_results th.blank {
  background: none;
  border: none;
}

table.search_results td {
  padding: 3px 9px;
  vertical-align: top;
  white-space: nowrap;
  font-size: 12px;
}

table.search_results td.result {
  word-wrap: break-word;
  white-space: normal;
}

table.search_results td.person {
  font-weight: bold;
  text-align: right;
}

table.search_results th.person {
  text-align: left;
}

table.search_results tr.shaded td {
  background-color: #edf3fe;
}

table.search_results td.room {
  border: none;
}

table.search_results tr.first td {
  padding-top: 10px;
}

body.search_results p.pagination {
  font-size: 12px;
  margin: 15px 0 15px 15px;
}

/*-------------------------------------------------
CHAT TABLE
-------------------------------------------------*/

#chat-wrapper {
  overflow: hidden;
  margin-bottom: 1px;
}

table.chat {
  font-size: 12px;
  margin-bottom: 1px;
}

table.chat td {
  padding: 5px;
  border-bottom: 1px solid #efefef;
  border-left: 1px solid #dcdcdc;
}

table.chat tr.outofwindow td {
  color: #aaa;
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #eee;
}

table.chat td.person {
  width: 1%;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  background-color: #efefef;
  border-left: none;
}

table.chat td.body div {
  float: left;
}



table.chat tr.outofwindow td.person {
  background-color: #f5f5f5;
}

table.chat tr.you td {
  background-color: #ffc;
}

table.chat tr.break td {
  border: none;
}

table.chat td div.notice {
  margin: 0;
  padding: 0;
  background: none;
}

table.chat td div.notice div.failed {
  background: #F6C1A9;
  font-size: 10px;
  margin-top: 6px;
  padding: 3px;
}

table.chat td div.notice div.failed.busy {
  background: url('dots-white.gif') no-repeat center left;
  padding-left: 28px;
}

table.chat tr.paste_message td div.failed {
  margin-top: 0;
}

table.chat tr.paste_message.with_notice td.body span.pasting {
  display: none;
}

#todays_transcript {
  font-size: 12px;
  font-weight: normal;
  padding-top: 15px;
  border-bottom: 1px solid #dcdcdc;
  color: #666;
  padding: 5px 0;
}

#guest_help {
  font-size: 12px;
  font-weight: normal;
  padding-top: 15px;
  border-bottom: 1px solid #dcdcdc;
  color: #666;
  padding: 5px 0;
}


/*-------------------------------------------------
MESSAGE TYPES
-------------------------------------------------*/

table.chat tr.leave_message td,
table.chat tr.enter_message td,
table.chat tr.idle_message td,
table.chat tr.kick_message td,
table.chat tr.unidle_message td,
table.chat tr.lock_message td,
table.chat tr.unlock_message td,
table.chat tr.name_change_message td,
table.chat tr.topic_change_message td,
table.chat tr.allow_guests_message td,
table.chat tr.disallow_guests_message td,
table.chat tr.conference_created_message td,
table.chat tr.conference_finished_message td,
table.chat tr.system_message {
  font-size: 10px;
  border: none;
  border-bottom: 1px solid white;
}

table.chat tr.leave_message td,
table.chat tr.enter_message td,
table.chat tr.kick_message td {
  background-color: #D9E7FB;
}

table.chat tr.idle_message td,
table.chat tr.unidle_message td,
table.chat tr.system_message td {
  background-color: #D9FAD9;
}

table.chat tr.idle_message td,
table.chat tr.unidle_message td {
}

table.chat tr.lock_message td,
table.chat tr.unlock_message td,
table.chat tr.allow_guests_message td,
table.chat tr.disallow_guests_message td {
  background-color: #F6C1A9;
}

table.chat tr.name_change_message td,
table.chat tr.topic_change_message td,
table.chat tr.conference_created_message td,
table.chat tr.conference_finished_message td {
  background-color: #FADDA5;
}

table.chat tr.conference_created_message td.body span.explanation {
  margin-top: 4px;
  display: block;
}

table.chat tr.conference_created_message td.body span.number_and_code {
  margin-top: 4px;
  display: block;
  font-weight: bold;
}

table.chat tr.conference_created_message td.body span.number_and_code span.big_number {
  font-size: 18px;
}

table.chat tr.upload_message td img {
  vertical-align: middle;
}

table.chat tr.upload_message td a.image img {
  margin: 5px 0 5px 8px;
}

table.chat tr.paste_message td span.number_of_lines {
  color: #999;
  font-size: 11px;
}

table.chat tr.paste_message td span.number_of_lines span {
  color: #666;
}

table.chat tr.paste_message td pre {
  border-top: 1px dotted #666;
  border-bottom: 1px dotted #666;
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;      /* CSS-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* Internet Explorer 5.5+ */
}

table.chat tr.paste_message td pre code {
  font-family: monospace;
  font-size: 12px;
}

table.chat tr.timestamp_message td {
  border: none;
  font-size: 9px;
  font-weight: bold;
  padding-top: 15px;
}

table.chat tr.hidden {
  display: none;
}

table.chat tr.timestamp_message td.date {
  float: right;
}

table.chat tr.timestamp_message td.time {
  border-left: 1px solid #dcdcdc;
  font-weight: normal;
  color: #888;
}

table.chat tr.pending td.body span.loading {
  display: block;
  font-size: 11px;
  color: #888;

  padding-left: 27px;
  line-height: 16px;

  background-image: url('dots-white.gif');
  background-position: left center;
  background-repeat: no-repeat;
}

table.chat a.youtube_video  {
  display: block;
  width: 320px;
  height: 263px;
}

table.chat a.youtube_video img {
  margin: 0;
  padding: 0;
  border: 0;
  width: 320px;
  height: 240px;
}

table.chat tr.sound_message a {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

table.chat tr.sound_message a:hover {
  background: none;
}

table.chat tr.sound_message img {
  border: none;
  opacity: 0.25;
}

table.chat tr.sound_message a.image img {
  opacity: 1;
}

table.chat tr.message a.loading,
table.chat tr.message a.failed {
  display: block;
  height: 16px;
  height: 16px;
}

table.chat tr.message a.failed {
}

table.chat tr.message a.loading img,
table.chat tr.message a.failed img {
  display: none;
}

table.chat tr.message a.loaded img {
  max-width: 300px;
  width: auto;
}

span.tweet {
  font-size: 12px;
  line-height: 16px;
  background: #fff;
  color: #444;
  width: auto;
  max-width: 316px;
  display: block;
  padding: 10px 10px 10px 65px;
  font-family: verdana;
  border: 1px solid #ccc;
}

span.tweet_author{
  color: #888;
  white-space: nowrap;
}

span.tweet_avatar {
  margin-left: -55px;
  float: left;
}

span.tweet_avatar a {
  padding: 0;
  background: none;
}

span.tweet_avatar img {
  width: 48px;
  height: 48px;
  border: none;
}

/*-------------------------------------------------
SIDEBAR - PARTICIPANTS, INVITEES, FILES
-------------------------------------------------*/

div#print_container {
  position:relative;
  height:0px;
  }

div#print {
  position: absolute;
  z-index:1;
  right: 0px;
  top: 10px;
}

div#print * {
  display:block;
  border:0;
  background:transparent;
}

div#room_title h1 {
  font-size: 24px;
  letter-spacing: -1px;
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
}

ul.participant-list {
  height: 105px;
  overflow: auto;
}

body.lobby ul.participant-list {
  height: auto;
  overflow: visible;
}

ul.participant-list li.idle {
  color: #999;
}

div.participants ul, div.invitees ul {
  list-style-type: none;
  padding: 0 0 0 5px;
  margin: 0;
}

div.invitees ul {
  margin-bottom: 10px;
}

div.participants li, div.invitees li {
  font-size: 11px;
  margin-bottom: 2px;
}

div.participants li.idle {
  font-size: 10px;
}

ul.participant-list span.nickname {
  color: #666;
}

div.files ul#file_list li {
  margin: 0;
  color: #000;
  padding: 0 0 4px 0;
  line-height: normal;
  font-size: 11px;
}

div.files ul#file_list li span {
  margin-left: 5px;
  font-size: 10px;
  color: #999;
}

div.files ul#file_list li span abbr {
  margin-left: 2px;
  font-size: 9px;
}

div.files ul#file_list li span.uploader {
  font-family: georgia;
  font-style: italic;
  font-size: 10px;
  color: #666;
}

div.invitees textarea {
  width: 250px;
  height: 75px;
  padding: 3px;
  margin: 5px 0;
}

#edit_topic_form {
  margin-bottom: 15px;
  font-size: 11px;
}

/* Guest kick link */

ul.participant-list li span.admin {
  display: none;
}

div#sidebar.admin_user ul.participant-list li.hover span.admin {
  display: inline;
}

div#sidebar.admin_user ul.participant-list li.busy {
  background: url('dots-white.gif') no-repeat left center;
}

div#sidebar.admin_user ul.participant-list li.busy * {
  visibility: hidden;
}

/*-------------------------------------------------
SETTINGS
-------------------------------------------------*/

body.settings .full {
  width: 976px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

body.settings .accountLink {
  color: #333; 
  font-size: 18px; 
  font-weight: normal; 
  padding-bottom: 6px; 
  border-bottom: 1px solid #CCC;
  margin-top: 0;
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

body.settings .accountLink .link {font-size: 13px;}
body.settings .accountLink .serviceUrl {font-size: 18px;}

body.settings .urlName {
  font-size: 24px; 
  color: #000; 
  font-weight: bold;
}

body.settings .memberSince {
  float: right; 
  font-size: 13px; 
  color: #999; 
  font-weight: normal;
  margin-top: 10px;
}

body.settings .payInfo {
  float: right; 
  font-weight: normal;
  margin: 1px 0 0 2em;
  text-align: right;
  font-size: 13px;
}

body.settings div.currentChatters {
  font-size: 14px;
  margin-bottom: 5px;
}

body.settings div.leftCol {
  float: left;
  width: 67%; 
}

body.settings div.rightCol {
  float: right;
  width: 30%;
}

body.settings div.leftCol p,
body.settings div.rightCol p {
  font-size: 12px;
  color: #444;
}

body.settings div.section {
  margin: 0 0 20px 0;
}

body.settings div.section h2 {
  margin-bottom: 3px;
}

body.settings div.section p {
  margin-bottom: 1em;
}

body.settings div.invoices {
  margin-bottom: 15px;
}

body.settings div.invoices ul {
  list-style: square inside;
  margin: 6px 0;
  padding: 0;
}

body.settings div.invoices li {
  font-size: 11px;
  line-height: 16px;
  width: 47%;
  float: left;
  margin: 0 1%;
  padding-left: 1%;
}

body.settings div.invoices ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body.settings div.invoices ul { display: inline-block; }
body.settings div.invoices ul { display: block; }

body.settings p.status {
  overflow: hidden;
}

body.settings h1#account_header {
  font-size: 14px;
  color: #000;
  padding: 13px 30px 13px 24px;
  background: #edf3fe;
  margin: -10px -20px 10px;
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

body.settings h2 {
  font-size: 14px;
  color: #fff;
  background: #000;
  padding: 3px 5px;
  margin: 0 0 3px 0;
  height: 1%;
}

body.settings h2 span {
  font-size: 11px;
  font-weight: normal;
  float: right;
  padding-top: 1px;
}

body.settings h2 span a:link,
body.settings h2 span a:visited {
  color: #fff;
  font-family: verdana, sans-serif;
}

body.settings p.new_room_link {
  font-size: 12px;
}

body.settings p.new_room_link a.toggle:link,
body.settings p.new_room_link a.toggle:visited,
body.settings div#rooms a:link,
body.settings div#rooms a:visited {
  color: red;
}

body.settings p.new_room_link a.toggle:hover,
body.settings div#rooms a:hover {
  color: white;
  background: red;
}

body.settings div#rooms a.image:hover {
  background: none;
}

body.settings .full div.leftCol h2,
body.settings .full div.rightCol h2 {
  font-size: 14px;
  border: none;
  background: none;
  padding: 0;
  color: #000;
  height: auto;
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

body.settings table {
}

body.settings div.section {
  margin-bottom: 25px;
}

table.settings th {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  vertical-align: middle;
  padding-right: 5px;
}

table.settings td {
  padding: 2px 10px 2px 0;
}

table.settings td input,
table.settings td select {
  font-size: 13px;
}

table.settings td input {
  width: 230px;
}

table.settings td.submit input {
  width: auto;
  color: #999;
}

table.rooms td {
  padding: 5px 3px 3px 3px;
  vertical-align: top;
  font-size: 11px;
}

table.rooms td.name {
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;
  width: 99%;
}

table.rooms td.edit {
  width: 1%;
  white-space: nowrap;
  padding-right: 7px;
}

table.rooms td.edit span.hint {
  color: #999;
  font-size: 10px;
  margin-right: 5px;
}

table.rooms td.edit img {
  vertical-align: middle;
}

table.rooms td.edit a.image {
  margin-left: 3px;
}

table.rooms td.limit {
  white-space: nowrap;
}

table.colors {
  margin-bottom: 0;
}

table.colors td {
  padding: 5px 5px 15px 5px;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
}

table.colors td img {
  padding: 1px;
  border: 1px solid #ccc;
}

body.settings #logo_settings,
body.settings #ssl_settings {
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

body.settings #logo_settings p,
body.settings #ssl_settings p {
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 10px;
}

body.settings .busy {
  background: url('dots-white.gif') no-repeat center center;
  text-decoration: none;
}

body.settings .busy * {
  visibility: hidden;
}

body.settings div.nickname {
  max-width: 568px;
}

body.settings div.nickname p {
  font-size: 12px;
  line-height: 15px;
  padding: 0;
  margin: 5px 0 10px 10px;
}

body.settings div.nickname input#nickname {
  padding: 1px;
  font-size: 12px;
}

body.settings div.nickname p.submit {
  margin-bottom: 20px;
}

/*-------------------------------------------------
PEOPLE
-------------------------------------------------*/

body.people h1 {
  margin-bottom: 15px;
  font-size: 26px;
}

body.people h1 span {
  float: right;
  width: 300px;
  text-align: right;
  font-weight: normal;
  color: #ccc;
  font-family: "lucida grande", verdana, sans-serif;
  font-size: 12px;
}

body.people div.skybox {
  overflow: hidden;
  background-color: #e9e9e9;
  padding: 10px 10px 7px 10px;
  margin-bottom: 15px;
}

body.people div.skybox p {
  margin: 0 0 5px 0;
  font-size: 12px;
}

body.people div.skybox p a {
  color: red;
}

body.people div.skybox p a:hover {
  background-color: red;
  color: #fff;
}

table.members {
  margin: 0;
  font-size: 11px;
}

table.members td {
  white-space: nowrap;
  padding: 3px 12px;
  vertical-align: middle;
  border: none;
  border-top: 1px solid #eee;
}

table.members th {
  font-size: 11px;
  text-align: left;
  padding: 3px;
  color: #666;
  font-weight: normal;
  vertical-align: bottom;
}

table.members td {
  padding: 8px;
  vertical-align: top;
  border-bottom: 1px solid #EFEFEF;
  color: #666;
  font-size: 12px;
}

table.members td.avatar {
  width: 55px;
}

table.members td.name {
  font-weight: bold;
  font-size: 12px;
  color: #222;
}

table.members td.name a {
  font-weight: normal;
  color: #666;
  text-decoration: none;
  font-size: 11px;
}

table.members td.name a:hover {
  background-color: #0066cc;
  color: #fff;
}

table.members td.name span.invited {
  background: #6b5;
  color: white;
  font-size: 10px;
  padding: 1px 2px;
}

table.members td.pending {
  font-size: 110%;
  font-style: italic;
}

table.members td.name span,
table.members td.pending span {
  color: #999;
  font-weight: normal;
  font-size: 11px;
  font-style: normal;
}

table.members td span {
  color: #666;
}

table.members td.perms div {
  display: inline;
  line-height: 21px;
}

table.members td.perms {
  width: 200px;
  height: 21px;
  white-space: normal;
  padding-left: 10px;
  width: 50%;
  vertical-align: middle;
  font-size: 11px;
}

table.members td.delete {
  width: 1%;
}

table.members td.delete a.image {
  padding-left: 24px;
}

table.members td.perms span {
  color: #999;
}

table.members tr.first td {
  padding-top: 10px;
}

table.members .link_with_spinner {
  text-align: center;
  width: 24px;
}

table.members .link_with_spinner a {
  padding: 0 !important;
}

/*-------------------------------------------------
INVITE FORM
-------------------------------------------------*/

div#invite_form {
  margin-top: 10px;
}

div#invite_form h3 {
  background-color: transparent;
  border: 0;
  margin: 0 0 2px 0;
  font-weight: normal;
  padding: 0;
}

/*-------------------------------------------------
DIALOG
-------------------------------------------------*/

.dialog h1 {
  font-size: 36px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.dialog .buttons {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  padding-top: 10px;
  text-align: right;
}

.dialog .buttons input {
  font-size: 16px;
}


/*-------------------------------------------------
CHAT ROOM
-------------------------------------------------*/

div#title h2 {
  font-size: 12px;
  font-family: verdana;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 0;
  border: none;
}

div#room_title span.edit_topic {
  color: #999;
  font-size: 10px;
}

div#room_title span.edit_topic a {
  font-family: verdana, sans-serif;
  color: #888;
}

div#room_title span.edit_topic a:hover {
  color: #fff;
}

div#Title h1 span {
  font-weight: normal;
  color: #666;
  font-size: 11px;
}


div#sidebar h3 {
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dcdcdc;
  padding: 2px 5px;
  text-align: left;
  color: #333;
  margin-bottom: 5px;
}

div#sidebar h3 span {
  color: #999;
}

div#sidebar h4 {
  font-size: 12px;
  font-weight: bold;
  border-top: 1px dotted #dcdcdc;
  padding: 2px 5px;
  text-align: left;
  color: #333;
  margin-bottom: 5px;
}

div#sidebar span.room_actions {
  font-size: 11px;
  line-height: 14px;
  font-weight: normal;
  color: #999;
  float: right;
  text-align: right;
}

div#sidebar ul.participant-list {
  margin-bottom: 4px;
}

div#sidebar ul.participant-list li.user {
  font-size: 11px;
}



/*-------------------------------------------------
SIDEBAR - PARTICIPANTS
-------------------------------------------------*/

div.participants ul {
  list-style-type: none;
  padding: 0 0 0 5px;
  margin: 0;
}

div.participants li {
  font-size: 11px;
  margin-bottom: 2px;
}

div.participants li.out {
  font-size: 10px;
  color: #999;
}



/*-------------------------------------------------
SYSTEM MESSAGE
-------------------------------------------------*/

div.system_message {
  background-color: #ff8;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

div.system_message p {
  font-size: 12px;
  margin: 0;
}

div.system_message p strong {
  color: #000;
}

.guest_user div.system_message {
  display: none;
}

body.admin textarea {
  width: 400px;
  height: 75px;
}



/* IPAD SUPPORT */

body.ipad div#Header {
  overflow: hidden;
  border-bottom: none;
}

body.ipad #upload_drop_box {
  display: none !important;
}

body.ipad .ipad_scroll_wrapper {
  position: relative;
  z-index: 1;
  height: 400px;
}

body.ipad * {
  -webkit-user-select: none;
}

body.ipad .ipad_scroll_wrapper *,
body.ipad input,
body.ipad textarea {
  -webkit-user-select: auto !important;
}

/* -------------------------------------
"PAGE ON GREY"
MODAL LAYOUT
---------------------------------------*/

body.page_on_grey div.wrapper {
  padding: 30px 0;
}

body.page_on_grey div.shadow {
  -webkit-border-radius: 12px;
  -moz-box-shadow: 3px 3px 4px #aaa; /* firefox 3.5+ */
  -webkit-box-shadow: 3px 3px 4px #aaa; /* webkit */
  box-shadow: 3px 3px 4px #aaa;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')"; /* IE 8+ */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa'); /* IE <= 7 */
}

body.page_on_grey div.container {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

body.page_on_grey div.page_header {
  -webkit-border-top-left-radius: 12px 12px;
  -webkit-border-top-right-radius: 12px 12px;
  background: #edf3fe;
  margin: 0;
  padding: 13px 30px 13px 24px;
}

body.page_on_grey div.page {
  -webkit-border-bottom-left-radius: 12px 12px;
  -webkit-border-bottom-right-radius: 12px 12px;
 background: #fff;
 padding: 20px 24px 30px 24px;
}

/* -------------------------------------
 * EDIT ROOM
---------------------------------------*/

body.edit_room div.form h3 {
  font-weight: bold;
  font-size: 12px;
  margin: 0 0 3px 0;
}

body.edit_room div.form p {
  font-size: 12px;
}

body.edit_room div.form input {
  font-size: 12px;
}

body.edit_room div.form input.room_name {
  font-weight: bold;
}

body.edit_room div.form p.submit {
  margin-bottom: 0;
}

body.edit_room div.form p.submit a:link,
body.edit_room div.form p.submit a:visited {
  color: red;
}

body.edit_room div.form p.submit a:hover {
  color: white;
  background: red;
}

body.edit_room div.form table.permissions {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

body.edit_room div.form table.permissions td {
  font-size: 12px;
  padding-right: 12px;
}

/*-------------------------------------------------
USE MAC FONTS
-------------------------------------------------*/

body.mac table.chat tr.paste_message td pre code,
body.mac.transcript_browser div.stars table td pre code,
body.mac code,
body.mac pre {
  font-family: monaco, monospace;
  font-size: 10px;
}